---
const { titulo } = Astro.props;
---

<button class="button button--cta">
	{titulo}
	<i class="fa-solid fa-arrow-right"></i>
</button>

<style lang="scss">
	.button {
		padding: 1rem 1.5rem;
		font-size: 1.33rem;
		border-radius: 10px;
		background-color: var(--color-primary);
		color: white;

		i {
			margin-left: 0.5rem;
		}
	}
</style>
