---
import CardProyecto from "./CardProyecto.astro";
---

<section class="proyectos__section">
	<div class="proyectos__content container--static">
		<h2 class="proyectos__titulo" id="proyectos">Mis Trabajos</h2>
		<div class="proyectos__list">
			<CardProyecto
				titulo="Templo Transition"
				descripcion="Desarrollo de la web oficial de Sala Templo, un referente en música electrónica en Huelva. El diseño es responsivo y optimizado, con navegación fluida en todos los dispositivos. Incluye un calendario de eventos, galerías multimedia y sistema de reservas, capturando el ambiente y energía del lugar."
				live_url="https://templotransition.es"
				imagen="/my-astro-portfolio/proyectos/templo.png"
				imagen_background="/my-astro-portfolio/blobs/1.svg"
				reverse="false"
			/>
			<CardProyecto
				titulo="Transition Festival"
				descripcion="Desarrollo de la web para un festival de música psytrance al aire libre en el Parque Nacional de Doñana. El sitio, responsivo y visualmente impactante, destaca los artistas, la ubicación natural y la compra de entradas, brindando una experiencia inmersiva para los asistentes."
				live_url="https://transitionfestival.org"
				imagen="/my-astro-portfolio/proyectos/festival.png"
				imagen_background="/my-astro-portfolio/blobs/2.svg"
				reverse="true"
			/>
		</div>
	</div>
</section>

<style lang="scss">
	.proyectos {
		&__section {
			background-image: var(--background-gradient);
		}

		&__content {
		}

		&__titulo {
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}
</style>
